.idea 
node_modules/
myenv/
docs/*
venv/
migrations/*
migrations/__init__.py
db.sqlite3
migrations/
__pycache__/
*.pyc
LawyerDataBase/DataBase/migrations/*
LawyerDataBase/__pycache__/*
LawyerDataBase/LawyerDataBase/settings.py
LawyerDataBase/LawyerDataBase/__pycache__
LawyerDataBase/DataBase/__pycache__

