.idea 
node_modules/
myenv/
docs/*
venv/
migrations/*
migrations/0001_initial.py
migrations/0002_auto_20200506_0043.py
migrations/__init__.py
db.sqlite3
migrations/
__pycache__/
*.pyc
LawyerDataBase/db.sqlite3
LawyerDataBase/DataBase/migrations/*
