{% extends "stat_generic.html" %}
{% block title %}NAppointments{% endblock %}
{% block content %}
<div class="container">
     <h2>NAppointments</h2>
     <a class="btn btn-outline-success btn-block" href="{% url 'appointment_n-create' %}">New Appointment</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Коментарій</th>
            <th>Послуги</th>
            <th>Досьє</th>
            <th>Адвокат</th>
            <th>Клієнт</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in object_list %}
        <tr>
            <td>{{ appointment.app_date }}</td>
            <td>{{ appointment.app_time }} </td>
            <td>{{ appointment.comment }}</td>
            <td>
                {% for service in appointment.service.all %}
                <a href="{% url 'service-detailed-view' service.service_code %}">
                {{ service.name_service }}
                </a>;
            {% endfor %}
            </td>
            <td><a href="{{ appointment.code_dossier_n.get_absolute_url }}">{{ appointment.code_dossier_n.code_dossier_n }}</a></td>
            <td><a href="{{ appointment.lawyer_code.get_absolute_url }}">{{ appointment.lawyer_code.getfullname }}</a></td>
            <td><a href="{{ appointment.num_client_n.get_absolute_url }}">{{ appointment.num_client_n.getfullname }}</a></td>
            <td>
                <a class="btn btn-outline-info" href="{% url 'appointment_n-update' pk=appointment.pk  %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'appointment_n-delete' pk=appointment.pk  %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
