{% extends "stat_generic.html" %}
{% load user_tags %}
{% block title %}Юридичні клієнти{% endblock %}
{% block content %}

    {% if request.user|has_group:"Секретар"%}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="justify-content-center text-center"><h2>Фільтри пошуку</h2></div>
        <form method="get" action=".">
            <div class="row">
                <div class="container">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="edrp_id_search">ЄДРПОУ</label>
                            <input class="form-control border" id='edrp_id_search' type="number"
                                   placeholder="ЄДРПОУ..." name="edrp_id" value="{{ edrp_id }}" maxlength="8">

                        </div>
                        <div class="form-group col-md-3">
                            <label for="comp_name_search">Компанія</label>
                            <input class="form-control border" id='comp_name_search' type="text"
                                   placeholder="Назва компанії..." name="comp_name" value="{{ comp_name }}">

                        </div>
                        <div class="form-group col-md-3">
                            <label for="name_search">Прізвище</label>
                            <input class="form-control border" id='name_search' type="text"
                                   placeholder="Прізвище клієнта..." name="surname" value="{{ surname }}">

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="mail_search">Пошта</label>
                            <input class="form-control border" id='mail_search' type="email"
                                   placeholder="Пошта клієнта..." name="mail" value="{{ mail }}">

                        </div>
                        <div class="form-group col-md-3">
                            <label for="phone_search">Номер телефону</label>
                            <input class="form-control border" id='phone_search' type="text"
                                   placeholder="Номер телефону клієнта..." name="phone" value="{{ phone }}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="city_search">Місто</label>
                            <input class="form-control border" id='city_search' type="email"
                                   placeholder="Місто проживання..." name="city" value="{{ city }}">
                        </div>

                    </div>

                    <div class="align-right float-right">
                        <a class="btn btn-info align-right" href="{% url 'jcustomers' %}">Очистити фільтри</a>
                        <button type="submit" class="btn btn-primary align-right" >Пошук</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

<div class="container-fluid">
    <div class="row align-items-center justify-content-center shadow-sm p-2 mb-2 bg-white">
     <h2 class="font-weight-bold">Юридичні клієнти</h2>
        <a class="btn btn-outline-success btn-block m-2 d-print-none"  href="{% url 'client_juridical-create' %}">Зареєструвати клієнта</a>
    </div>
    <table style="width:100%"  class="table table-striped table-hover table_border">
        <thead class="thead-dark">
        <tr>
            <th>ЄДРПОУ</th>
            <th>IBAN</th>
            <th>Назва</th>
            <th>Представник</th>
            <th>Посада</th>
            <th>E-mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for client in object_list %}
        <tr>
            <td><a href="{{ client.get_absolute_url }}">{{ client.pk }}</a></td>
            <td>{{ client.iban }}</td>
            <td>{{ client.name_of_company }}</td>
            <td>{{ client.first_name }} {{ client.surname }} {{ client.mid_name }}</td>
            <td>{{ client.client_position }}</td>
            <td><a href=mailto:client.mail_info>{{ client.mail_info }}</a></td>
            <td>
                <a class="btn btn-outline-info d-print-none" href="{% url 'client_juridical-update' pk=client.pk  %}">Редагувати</a>
                <a class="btn btn-outline-danger d-print-none" href="{% url 'client_juridical-delete' pk=client.pk  %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
