{% extends "stat_generic.html" %}
{% block title %}Юридичні досьє{% endblock %}

{% block content %}
<div class="container">
     <h2>Юридичні досьє</h2>
     <a class="btn btn-outline-success btn-block" href="{% url 'dossier_j-create' %}">Нове Досьє</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Код</th>
            <th>Статус</th>
            <th>Дата підписання</th>
            <th>Дата спливу угоди</th>
            <th>Дата закриття</th>
            <th>Гонорар</th>
            <th>Сплачено</th>
            <th>Клієнт</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for dossier in object_list %}
        <tr>
            <td><a href="{{ dossier.get_absolute_url }}">{{ dossier.pk }}</a></td>
            {% if dossier.status == 'closed' %}
            <td>Закрита</td>
            {% elif dossier.status == 'closed-won' %}
            <td>Закрита-виграна</td>
            {% else %}
            <td>Відкрита</td>
            {% endif %}
            <td>{{ dossier.date_signed }}</td>
            <td>{{ dossier.date_expired }}</td>
           {% if dossier.status == 'closed' or dossier.status == 'closed-won'  %}
            <td>{{ dossier.date_closed }}</td>
            {% else %}
            <td>-------</td>
            {% endif %}
            <td>{{ dossier.fee }}</td>
             {% if dossier.paid is True %}
            <td>Оплачено</td>
            {% else %}
            <td>Не оплачено</td>
            {% endif %}
            <td><a href="{{ dossier.num_client_j.get_absolute_url }}">{{ dossier.num_client_j.getfullname }}</a></td>
            <td>
                <a class="btn btn-outline-info" href="{% url 'dossier_j-update' pk=dossier.pk  %}">Редагувати</a>
                <a class="btn btn-outline-danger" href="{% url 'dossier_j-delete' pk=dossier.pk  %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
