{% extends "stat_generic.html" %}
{% block title %}Lawyers{% endblock %}

{% block content %}
<div class="container">
     <h2>Lawyers</h2>
     <a class="btn btn-outline-success btn-block" href="{% url 'lawyer-create' %}">Register Lawyer</a>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Код</th>
            <th>ПІБ</th>
            <th>Спеціалізація</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        {% for lawyer in object_list %}
        <tr>
            <td><a href="{{ lawyer.get_absolute_url }}">{{ lawyer.pk }}</a></td>
            <td>{{ lawyer.surname }} {{ lawyer.first_name }} {{ lawyer.mid_name }}</td>
            <td>{{ lawyer.specialization }}</td>
            <td>{{ lawyer.mail_info }}</td>
            <td>
                <a class="btn btn-outline-info" href="{% url 'lawyer-update' pk=lawyer.pk  %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'lawyer-delete' pk=lawyer.pk  %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
