{% extends "stat_generic.html" %}
{% load user_tags %}
{% block title %}Адвокати{% endblock %}
{% block stylesheet %}
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@0.6.8/dist/css/BsMultiSelect.min.css" type="text/css">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css" type="text/css">
{% endblock %}
{% block content %}
<div class="container">
{% if request.user|has_group:"Секретар"%}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="justify-content-center text-center"><h2>Фільтри пошуку</h2></div>
        <form method="get" action=".">
        <div class="row">
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="lawyer_id_search">Ідентифікатор адвоката</label>
                        <input class="form-control border" id='lawyer_id_search' type="search"
                               placeholder="Ідентифікатор адвоката..." name="lawyer_id" value="{{ lawyer_id }}" >

                    </div>
                    <div class="form-group col-md-3">
                        <label for="Surname_search">Призвіще</label>
                        <input class="form-control border" id='Surname_search' type="search"
                               placeholder="Прізвище адвоката..." name="surname" value="{{ surname }}">

                    </div>
                    <div class="form-group col-md-3">
                        <label for="mail_search">Пошта</label>
                        <input class="form-control border" id='mail_search' type="search"
                               placeholder="Пошта адвоката..." name="mail" value="{{ mail }}">

                    </div>
                    <div class="form-group col-md-3">
                        <label for="spec_search">Спеціалізація</label>
                        <input class="form-control border" id='spec_search' type="search"
                               placeholder="Спеціалізація адвоката..." name="spec" value="{{ spec }}">

                    </div>

                    <div class="form-group row">
                        <label for="services_search" class="col-form-label col-md-5">Надає послуги</label>

                    <div class="input-group">
                        <div class="col-md-7">
                            <select id='services_search' name="services" multiple="multiple" class="long_input form-control border" data-selected-text-format="count">
                                {% for service in services %}
                                    {% if not service in selected_services %}
                                <option value="{{ service.name_service }}">{{ service.name_service }}</option>
                                    {% else %}
                                <option value="{{ service.name_service }}" selected>{{ service.name_service }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group-append show height" style="height: 50px;"><a class="btn btn-outline-dark" href="#" onclick="$('#services_search').selectpicker('deselectAll')">Скинути</a></div>
                    </div>


                    </div>
                </div>

                <div class="align-right float-right">
                    <a class="btn btn-info align-right" href="{% url 'lawyers' %}">Очистити фільтри</a>
                    <button type="submit" class="btn btn-primary align-right" >Пошук</button>
                    </div>
            </div>
        </div>
    </form>
    </div>
{% endif %}
     <div class="row align-items-center justify-content-center shadow-sm p-2 mb-2 bg-white">
        <h2 class="font-weight-bold">Адвокати</h2>
              <a class="btn btn-outline-success btn-block m-2" href="{% url 'lawyer-create' %}">Зареєструвати адвоката</a>
     </div>
    {% if object_list %}
    <table class="table table-striped table-hover table_border">
        <thead class="thead-dark">
        <tr>
            <th>Код</th>
            <th>ПІБ</th>
            <th>Спеціалізація</th>
            <th>E-mail</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for lawyer in object_list %}
        <tr>
            <td><a href="{{ lawyer.get_absolute_url }}">{{ lawyer.pk }}</a></td>
            <td>{{ lawyer.surname }} {{ lawyer.first_name }} {{ lawyer.mid_name }}</td>
            <td>{{ lawyer.specialization }}</td>
            <td><a href=mailto:lawyer.mail_info>{{ lawyer.mail_info }}</a></td>
            <td>
                <a class="btn btn-outline-info" href="{% url 'lawyer-update' pk=lawyer.pk  %}">Редагувати</a>
                <a class="btn btn-outline-danger" href="{% url 'lawyer-delete' pk=lawyer.pk  %}">Видалити</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
        <h4 class="text-center"><b>Адвокатів не знайдено</b></h4>
{% endif %}
</div>
{% endblock %}
{% block script %}
{#    <script src="https://cdn.jsdelivr.net/npm/@dashboardcode/bsmultiselect@0.6.8/dist/js/BsMultiSelect.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
{#        $(document).ready(function () {#}
{#            $("select[multiple='multiple']").bsMultiSelect();#}
{#            })#}
            $(document).ready(function () {
            $("select[multiple='multiple']").selectpicker({
                title: "Оберіть послугу",
                width: '395px',
                liveSearch: true,
                liveSearchPlaceholder: "Пошук по послугам...",
                size: 6,
            });
                {% if selected_services %}
                    var selected_services = {{ selected_services|safe }}
                    $("select[multiple='multiple']").selectpicker('val', selected_services)
                {% endif %}

            })

    </script>
{% endblock %}
