{% extends "base_generic.html" %}
{% block title %}
    Додати користувача - {{ block.super }}
{% endblock %}
 
{% block content %}
 <div class="row align-items-center justify-content-center">
     <div class="login shadow-lg p-4 mb-4 bg-white">
        <h1>Додати користувача</h1>
         <form method="post" >
             {% csrf_token %}
             <table>
                {{ form.as_table }}
             </table>
              <button type="submit" class="btn btn-outline-success">Зберегти</button>
         </form>
     </div>
 </div>
{% endblock %}