{% extends "stat_generic.html" %}
{% load user_tags %}

{% block title %}Послуги{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-center shadow-sm p-2 mb-2 bg-white">
        <h2 class="font-weight-bold">Послуги</h2>
       {% if request.user|has_group:"Секретар"%}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-outline-success btn-block d-print-none m-2" href="{% url 'service-create' %}">Додати нову послугу</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-outline-success btn-block d-print-none m-2" href="{% url 'service_group-create' %}">Додати нову групу послуг</a>
                </div>
             </div>
        </div>
         {% endif %}
    </div>
    <table class="table table-striped table-hover table_border">
        <thead class="thead-dark">
        <tr>
            {% if request.user|has_group:"Секретар"%}
            <th>Код</th>{% endif %}
            <th>Назва</th>
            <th>Група</th>
            <th>Номінальна вартість</th>
            <th>Бонусна вартість</th>
            {% if request.user|has_group:"Секретар"%}
            <th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for service in object_list %}
        <tr>
            {% if request.user|has_group:"Секретар"%}
            <td><a href="{{ service.get_absolute_url }}">{{ service.pk }}</a></td>
            {% endif %}
            <td>{{ service.name_service }}</td>
            <td>{{service.service_group}}</td>
            <td>{{ service.nominal_value }}</td>
            <td>{{ service.bonus_value }}</td>
            {% if request.user|has_group:"Секретар"%}
            <td>
                <a class="btn btn-outline-info d-print-none" href="{% url 'service-update' pk=service.pk  %}">Редагувати</a>
                <a class="btn btn-outline-danger d-print-none" href="{% url 'service-delete' pk=service.pk  %}">Видалити</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
