.container_stat {
  display: block; }

ul{
    list-style: none;
}

.required{
    border: 2px solid rgb(0, 215, 117);
}

.long_input{
    width:550px;
}

.big_checkbox{
    width:20px;
    height: 20px;
}

.wrong_input{
    border: 1px solid rgb(238, 0, 9);
    box-shadow: 0 0 5px rgba(238, 0, 9, 1);
}

.inline_div{
    display: inline-block;

}
.vertical_align{
    vertical-align : middle !important;
    text-align:center !important;
}

.border_top{
    border-top: 2px solid #454d55;
}

.table_border{
    border: 3px solid #454d55;
}

.align_right{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.secondary_text{
    font-size: 22px;
}

.text_styles{
    font-size: 28px;

}

.tabulated{
    margin-left: 50px;
}

.margin-fix {
  margin-top: 3%;
}

*{
    font-family: Verdana, sans-serif;
}

.errorlist{
    color: red;
}

 a:link {
        text-decoration: none;
    }
    a {
        color: black;
    }

    #print-foot {
         display: table-footer-group;
    }

    #print-foot {
            display: block;
            position: fixed;
            bottom: 0pt;
            right: 0pt;
            font-size: 150%;
        }

        #print-foot:before {
            counter-increment: page;
            content: counter(page) "/";
        }
        #print-foot:after {
        counter-increment: pages;
        content: counter(pages);
        }

    #date, #print-foot {
        visibility: hidden;
    }

    @media print {
        #print-foot {
            margin-top: 2%;
            visibility: visible;
        }
        a {
            text-decoration: none;
            color: black;
        }
         a[href]:after {
            content: none !important;
         }

        .d-print-none {
            display: none !important
        }

        #date {
            font-size: 15pt;
            visibility: visible;
            margin-bottom: 4%;
        }

        .statH {
            font-size: 45pt;
        }

        .containerToPrint {
            max-width: fit-content;
        }

        .tbl {
            font-size: 17pt;
        }
    }