<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}Welcome{%endblock%}</title>


    <link rel="stylesheet" href="{% static 'docs/css/main.css' %}">
    <link rel="icon" type="image/png" href=" {% static 'Login/images/scale.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    {% block navbar%}

    {%endblock%}
</nav>
<div class="container">
    {% block content %}
    <h1>Welcome to DataBase</h1>
    {% endblock %}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% block script %}
{% endblock %}

</body>
</html>