<!DOCTYPE html>
{% load user_tags %}
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}Адвокатське бюро{%endblock%}</title>
    <link rel="icon" type="image/png" href=" {% static 'Login/images/scale.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">

    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'docs/css/main.css' %}" type="text/css" >
    <link rel="stylesheet" type="text/css" href="{% static 'Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">

    {% block stylesheet %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark top-bar fixed" style="z-index:10000; position:fixed; top: 0; width:100%" >
    {% block navbar%}
    {%endblock%}
    {% if request.user.is_authenticated %}
    <div class="nav-item ml-auto justify-content-end">
            <a class="btn" href="http://127.0.0.1:8000/">Головна</a>
    </div>
     <div class="nav-item ml-auto justify-content-end">
            <a class="btn btn-danger " href="{% url 'logout' %}">Вийти</a>
    </div>
    {% endif %}
</nav>
<div class="container-fluid" id="container-main">
    <br><br><br>
    {% block content %}
    {% endblock %}
</div>
{% block statblock %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'docs/js/print.js' %}"></script>


{% block script %}
{% endblock %}
</body>
</html>