{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Профіль клієнта{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
    <a class="navbar-brand" href="{% url 'ncustomers' %}">🢀Усі фізичні клієнти</a>
{% endif %}
{% if request.user|has_group:"ClientsN"%}
<h2 style="color: white">Мій профіль</h2>
{% endif %}
{% endblock %}
{% block content %}
<div class="card">
    <div> {{ client_natural.first_name }} {{ client_natural.surname }} {{ client_natural.mid_name }}</div>
    <div>Ідентифікаційний код: {{ client_natural.num_client_n }}</div>
    <div>Адреса: {{ client_natural.adr_city }}, {{ client_natural.adr_street }}, {{ client_natural.adr_build }}</div>
    <div>Дата народження: {{ client_natural.birth_date|date:"d.m.Y" }}</div>
    <div>Паспортні дані: {{ client_natural.passport_date|date:"d.m.Y" }}  {{ client_natural.passport_authority }}</div>
    <div>E-mail: {{ client_natural.mail_info }}</div>
    <div>Номер телефону:
        {% for phone in phones %}
            <div><a href="tel:+380{{phone.phone_num}}">+380{{phone.phone_num}}</a></div>
        {% endfor %}
    </div>
</div>
{% if request.user|has_group:"Secretaries"%}
        <a class="btn btn-outline-info" href="{% url 'client_natural-update' pk=object.pk %}">Редагувати</a>
        <a class="btn btn-outline-danger" href="{% url 'client_natural-delete' pk=object.pk %}">Видалити</a>
        <a class="btn btn-outline-info" href="{% url 'dossier_n-create' %}">Нове Досьє</a>
        <a class="btn btn-outline-info" href="{% url 'appointment_n-create' %}">Записати на послугу</a>
{% endif %}
{% if request.user|has_group:"ClientsN"%}
<div class="container">
        <a class="btn btn-outline-info" href="{% url 'appointment_n-create' %}">Записатися</a>
</div>
{% endif %}
    {% if appointments %}
    <div class="container">
    <h5>Записи</h5>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Коментар</th>
            <th>Послуга</th>
            <th>Адвокат</th>
            <th>Досьє</th>
            {% if request.user|has_group:"Secretaries"%}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments.all %}
        <tr>
            <td>{{ appointment.app_date|date:"d.m.Y" }}</td>
            <td>{{ appointment.app_time|time:"H:i" }}</td>
            <td>{{ appointment.comment }}</td>
            {% if request.user|has_group:"Secretaries"%}
            <td>
                {% for service in appointment.service.all %}
                <a href="{% url 'service-detailed-view' service.service_code %}">
                {{ service.name_service }}
                </a>;
                {% endfor %}
            </td>
             {% endif %}
            {% if request.user|has_group:"ClientsN"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Lawyers"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Secretaries"%}
            <td><a href="{% url 'lawyer-detailed-view'  appointment.lawyer_code.lawyer_code %}">
                    {{appointment.lawyer_code.getfullname}}
                </a></td>
            {% endif %}
             {% if request.user|has_group:"ClientsN"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
            {% if request.user|has_group:"Lawyers"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
            <td>
                <a href="{% url 'dossier-detailed-n' appointment.code_dossier_n.code_dossier_n%}">
                    {{ appointment.code_dossier_n.code_dossier_n }}
                </a>
            </td>
            {% if request.user|has_group:"Secretaries"%}
            <td>
                <a class="btn btn-outline-info" href="{% url 'appointment_n-update' pk=appointment.pk %}">Редагувати</a>
                <a class="btn btn-outline-danger" href="{% url 'appointment_n-delete' pk=appointment.pk  %}">Видалити</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% endif %}
    {% if dossiers %}
        <div class="container">
    <h5>Досьє</h5>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Код</th>
            <th>Суть справи</th>
            <th>Гонорар</th>
            <th>Дата підписання</th>
            <th>Дата спливу</th>
            <th>Статус</th>
            <th>Дата закриття</th>
            <th>Оплачено</th>
             {% if request.user|has_group:"Secretaries"%}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers.all %}
        <tr>
            <td><a href="{% url 'dossier-detailed-n' dossier.code_dossier_n %}">{{ dossier.code_dossier_n }}</a></td>
            <td>{{ dossier.issue }}</td>
            <td>{{ dossier.fee }} UAH</td>
            <td>{{ dossier.date_signed|date:"d.m.Y" }}</td>
            <td>{{ dossier.date_expired|date:"d.m.Y" }}</td>
            {% if dossier.status == 'open' %}
            <td>Відкрита</td>
            {% elif dossier.status == 'closed' %}
            <td>Закрита</td>
            {% else %}
            <td>Закрита(виграна)</td>
            {% endif %}
            {% if dossier.status == 'closed' or dossier.status == 'closed-won'  %}
            <td>{{ dossier.date_closed|date:"d.m.Y" }}</td>
            {% else %}
            <td>-------</td>
            {% endif %}
            {% if dossier.paid is True %}
            <td>Оплачено</td>
            {% else %}
            <td>Не оплачено</td>
            {% endif %}
             {% if request.user|has_group:"Secretaries"%}
            <td>
                <a class="btn btn-outline-info" href="{% url 'dossier_n-update' pk=dossier.pk  %}">Редагувати</a>
                <a class="btn btn-outline-danger" href="{% url 'dossier_n-delete' pk=dossier.pk  %}">Видалити</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>
    {% endif %}
{% endblock %}