{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Client's profile{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
    <a class="navbar-brand" href="{% url 'jcustomers' %}">Back to JCustomers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endif %}
{% endblock %}
{% block content %}
<div class="card">
        <div> {{ client_juridical.first_name }} {{ client_juridical.surname }} {{ client_juridical.mid_name }}</div>
    <div>Code of client: {{ client_juridical.num_client_j }}</div>
    <div>Adr: {{ client_juridical.adr_city }}, {{ client_juridical.adr_street }}, {{ client_juridical.adr_build }}</div>
    <div>Company: {{ client_juridical.name_of_company }}</div>
    <div>Position: {{ client_juridical.client_position }}</div>
    <div>IBAN: {{ client_juridical.iban }}</div>
    <div>E-mail: {{ client_juridical.mail_info }}</div>
    <div>Phone num:
        {% for phone in phones %}
            <div><a href="tel:+380{{phone.phone_num}}">+380{{phone.phone_num}}</a></div>
        {% endfor %}
    </div>
</div>
{% if request.user|has_group:"Secretaries"%}
    <a class="btn btn-outline-info" href="{% url 'client_juridical-update' pk=object.pk %}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'client_juridical-delete' pk=object.pk %}">Delete</a>
    <a class="btn btn-outline-info" href="{% url 'dossier_j-create' %}">Create Dossier</a>
{% endif %}
    <a class="btn btn-outline-info" href="{% url 'appointment_j-create' %}">Create Appointment</a>
    {% if appointments %}
    <div class="container">
    <h5>Записи</h5>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Коментар</th>
            <th>Сервіс</th>
            <th>Адвокат</th>
            <th>Досьє</th>
            {% if request.user|has_group:"Secretaries"%}
            <th></th>
            {% endif %}
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments.all %}
        <tr>
            <td>{{ appointment.app_date }}</td>
            <td>{{ appointment.app_time }}</td>
            <td>{{ appointment.comment }}</td>
            {% if request.user|has_group:"Secretaries"%}
            <td>
                {% for service in appointment.service.all %}
                <a href="{% url 'service-detailed-view' service.service_code %}">
                {{ service.name_service }}
                </a> ;
                {% endfor %}
            </td>
             {% endif %}
            {% if request.user|has_group:"ClientsJ"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Secretaries"%}
            <td><a href="{% url 'lawyer-detailed-view'  appointment.lawyer_code.lawyer_code %}">
                    {{appointment.lawyer_code.getfullname}}
                </a></td>
            {% endif %}
             {% if request.user|has_group:"ClientsJ"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
            <td>
                <a href="{% url 'dossier-detailed-j' appointment.code_dossier_j.code_dossier_j%}">
                    {{ appointment.code_dossier_j.code_dossier_j }}
                </a>
            </td>
             {% if request.user|has_group:"Secretaries"%}
            <td>
                <a class="btn btn-outline-info" href="{% url 'appointment_j-update' pk=appointment.pk  %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'appointment_j-delete' pk=appointment.pk  %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% endif %}
    {% if dossiers %}
        <div class="container">
    <h5>Досьє</h5>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Код</th>
            <th>Суть справи</th>
            <th>Гонорар</th>
            <th>Дата підписання</th>
            <th>Дата спливу</th>
            <th>Статус</th>
            <th>Дата закриття</th>
            <th>Оплачено</th>
             {% if request.user|has_group:"Secretaries"%}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers.all %}
        <tr>
            <td><a href="{% url 'dossier-detailed-j' dossier.code_dossier_j %}">{{ dossier.code_dossier_j }}</a></td>
            <td>{{ dossier.issue }}</td>
            <td>{{ dossier.fee }} UAH</td>
            <td>{{ dossier.date_signed }}</td>
            <td>{{ dossier.date_expired }}</td>
            {% if dossier.status == 'open' %}
            <td>Відкрита</td>
            {% elif dossier.status == 'closed' %}
            <td>Закрита</td>
            {% else %}
            <td>Закрита(виграна)</td>
            {% endif %}
            {% if dossier.status == 'closed' or dossier.status == 'closed-won'  %}
            <td>{{ dossier.date_closed }}</td>
            {% else %}
            <td>-------</td>
            {% endif %}
            {% if dossier.paid is True %}
            <td>Оплачено</td>
            {% else %}
            <td>Не оплачено</td>
            {% endif %}
            {% if request.user|has_group:"Secretaries"%}
            <td>
                <a class="btn btn-outline-info" href="{% url 'dossier_j-update' pk=dossier.pk  %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'dossier_j-delete' pk=dossier.pk  %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {% endif %}
{% endblock %}
