{% extends "base_generic.html" %}
{% block navbar %}
 <a class="navbar-brand" href="lawyers.html">Back to Lawyers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}

{% block content %}
    <div> {{ client.first_name }} {{ client.surname }} {{ client.mid_name }}</div>
    <div>Code of client: {{ client.num_client_n }}</div>
    <div>Adr: {{ client.adr_city }} {{ client.adr_street }} {{ client.adr_build }}</div>
    <div>birth_date: {{ client.birth_date|date }}</div>
    <div>Passport info: {{ client.passport_date }}  {{ client.passport_authority }}</div>
    <div>email: {{ client.mail_info }}</div>
{% endblock %}