{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Профіль клієнта{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Секретар"%}
       <div class="nav-item mr-5">
            <a class="navbar-brand" href="{% url 'jcustomers' %}">🢀Усі юридичні клієнти</a>
        </div>
       <div class="nav-item ">
            <a class="navbar-brand" href="{% url 'lawyers' %}">Адвокати</a>
        </div>
        <div class="nav-item ">
            <a class="navbar-brand" href="{% url 'services' %}">Послуги</a>
        </div>
        <div class="nav-item dropdown">
            <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">
                Клієнти
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jcustomers' %}">Юридичні клієнти</a>
                <a class="nav-link dropdown-item" href="{% url 'ncustomers' %}">Фізичні клієнти</a>
            </div>
        </div>
        <div class="nav-item dropdown ">
            <a class="navbar-brand dropdown-toggle" href="#"  data-toggle="dropdown">
                Досьє
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jdossiers' %}">Юридичні досьє</a>
                <a class="nav-link dropdown-item" href="{% url 'ndossiers' %}">Фізичні досьє</a>
            </div>
        </div>
        <div class="nav-item dropdown ">
            <a class="navbar-brand dropdown-toggle" href="#"  data-toggle="dropdown">
                Записи
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jappointments' %}">Юридичні записи</a>
                <a class="nav-link dropdown-item" href="{% url 'nappointments' %}">Фізичні записи</a>
            </div>
        </div>
        <div class="nav-item container-fluid">
            <a class="navbar-brand" href="{% url 'stats' %}">Статистика</a>
        </div>
{% endif %}
{% if request.user|has_group:"Юридичний клієнт"%}
<div class="container-fluid row align-items-center justify-content-center">
<h2 style="color: white">Мій профіль</h2>
</div>
{% endif %}
{% if request.user|has_group:"Адвокат"%}
 <a class="container-fluid navbar-brand" href="#" onclick="goBack()">🢀Повернутись до кабінету</a>
{% endif %}
{% endblock %}
{% block content %}
<div></div>
<div class="container-fluid">
<div style="margin-top: 3%" class="container-fluid row align-items-center justify-content-center">
    <div class="card row align-items-center justify-content-center shadow-lg p-4 mb-4 bg-white" style="width: 50%;">
        <h5> {{ client_juridical.first_name }} {{ client_juridical.surname }} {{ client_juridical.mid_name }}</h5>
        <h6>Код ЄДРПОУ:{{ client_juridical.num_client_j }}</h6>
        <h6>Адреса: {{ client_juridical.adr_city }}, {{ client_juridical.adr_street }}, {{ client_juridical.adr_build }}</h6>
        <h6>Компанія: {{ client_juridical.name_of_company }}</h6>
        <h6>Посада: {{ client_juridical.client_position }}</h6>
        <h6>IBAN: {{ client_juridical.iban }}</h6>
        <h6>E-mail: <a href=mailto:client_juridical.mail_info>{{ client_juridical.mail_info }}</a></h6>
        <h6>Номер телефону:
            {% for phone in phones %}
                <div><a href="tel:+38{{phone.phone_num}}">+38{{phone.phone_num}}</a></div>
            {% endfor %}
        </h6>
        <div class="container row align-items-center justify-content-center">

            <div class="container row align-items-center justify-content-center">
                {% if request.user|has_group:"Юридичний клієнт"%}
                    <br><a style="margin: 1%;" class="btn btn-outline-info btn-block" href="{% url 'client_juridical-update' pk=object.pk %}">Редагувати профіль</a>
                {% endif %}
                {% if request.user|has_group:"Секретар"%}
                    <br><br><a style="margin: 1%;" class="btn btn-outline-info btn-block" href="{% url 'client_juridical-update' pk=object.pk %}">Редагувати профіль</a>
                    <br><br>
                    <a style="margin: 1%;" class="btn btn-outline-info" href="{% url 'dossier_j-create'  pk=object.pk %}">Нове Досьє</a>
                    <a style="margin: 1%;" class="btn btn-outline-info" href="{% url 'appointment_j-create' %}">Записати на послугу</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid margin-fix row align-items-center justify-content-center">
{% if request.user|has_group:"Юридичний клієнт"%}
<div class="container row align-items-center justify-content-center">
        <a class="btn btn-outline-info" href="{% url 'appointment_j-create' %}">Записатися на послугу</a>
</div>
</div>
{% endif %}
{% if not request.user|has_group:"Адвокат"%}
<hr>
    <div class="container-fluid mt-5">
        {% if upcoming_app_j or appointments_j%}
     <h2 class="text-center">Записи</h2>
        {% endif %}
     {% if upcoming_app_j %}
    <h5>Майбутні</h5>
    <table class="table table-striped table-hover table_border">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Коментар</th>
            <th>Послуга</th>
            <th>Адвокат</th>
            <th>Досьє</th>
            {% if request.user|has_group:"Секретар"%}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for appointment in upcoming_app_j %}
        <tr>
            <td>{{ appointment.app_date|date:"d.m.Y" }}</td>
            <td>{{ appointment.app_time|time:"H:i" }}</td>
            <td>{{ appointment.comment }}</td>
            {% if request.user|has_group:"Секретар"%}
            <td>
                {% for service in appointment.service.all %}
               <div><a href="{% url 'service-detailed-view' service.service_code %}">
                {{ service.name_service }}
                </a>;</div>
                {% endfor %}
            </td>
             {% endif %}
            {% if request.user|has_group:"Юридичний клієнт"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Адвокат"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Секретар"%}
            <td><a href="{% url 'lawyer-detailed-view'  appointment.lawyer_code.lawyer_code %}">
                    {{appointment.lawyer_code.getfullname}}
                </a></td>
            {% endif %}
             {% if request.user|has_group:"Юридичний клієнт"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
            {% if request.user|has_group:"Адвокат"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}

            <td>
                <a href="{% url 'dossier-detailed-j' appointment.code_dossier_j.code_dossier_j%}">
                    {{ appointment.code_dossier_j.code_dossier_j }}
                </a>
            </td>

            {% if request.user|has_group:"Секретар"%}
            <td>

                <a class="btn btn-outline-info" href="{% url 'appointment_j-update' pk=appointment.pk %}">Редагувати</a>
                <a class="btn btn-outline-danger" href="{% url 'appointment_j-delete' pk=appointment.pk  %}">Видалити</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% endif %}

    {% if appointments_j %}
    <div class="container-fluid">
    <h5>Минулі</h5>
    <table class="table table-striped table-hover table_border">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Коментар</th>
            <th>Послуга</th>
            <th>Адвокат</th>
            <th>Досьє</th>
            {% if request.user|has_group:"Секретар"%}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments_j %}
        <tr>
            <td>{{ appointment.app_date|date:"d.m.Y" }}</td>
            <td>{{ appointment.app_time|time:"H:i" }}</td>
            <td>{{ appointment.comment }}</td>
            {% if request.user|has_group:"Секретар"%}
            <td>
                {% for service in appointment.service.all %}
               <div><a href="{% url 'service-detailed-view' service.service_code %}">
                {{ service.name_service }}
                </a>;</div>
                {% endfor %}
            </td>
             {% endif %}
            {% if request.user|has_group:"Юридичний клієнт"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Адвокат"%}
            <td>
                {% for service in appointment.service.all %}
                {{ service.name_service }};
                {% endfor %}
            </td>
             {% endif %}
             {% if request.user|has_group:"Секретар"%}
            <td><a href="{% url 'lawyer-detailed-view'  appointment.lawyer_code.lawyer_code %}">
                    {{appointment.lawyer_code.getfullname}}
                </a></td>
            {% endif %}
             {% if request.user|has_group:"Юридичний клієнт"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
            {% if request.user|has_group:"Адвокат"%}
            <td>{{appointment.lawyer_code.getfullname}}</td>
            {% endif %}

            <td>
                <a href="{% url 'dossier-detailed-j' appointment.code_dossier_j.code_dossier_j%}">
                    {{ appointment.code_dossier_j.code_dossier_j }}
                </a>
            </td>

            {% if request.user|has_group:"Секретар"%}
            <td>
                <a class="btn btn-outline-danger" href="{% url 'appointment_j-delete' pk=appointment.pk  %}">Видалити</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% endif %}
    {% if dossiers %}

    <div class="container-fluid mt-5">
    <h2 class="text-center">Досьє</h2>
    <table class="table table-striped table-hover table_border">
        <thead class="thead-dark">
        <tr>
            <th>Код</th>
            <th>Суть справи</th>
            <th>Гонорар</th>
            <th>Дата підписання</th>
            <th>Дата спливу</th>
            <th>Статус</th>
            <th>Дата закриття</th>
            <th>Оплачено</th>
             {% if request.user|has_group:"Секретар"%}
            <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for dossier in dossiers.all %}
        <tr>
            <td><a href="{% url 'dossier-detailed-j' dossier.code_dossier_j %}">{{ dossier.code_dossier_j }}</a></td>
            <td>{{ dossier.issue }}</td>
            <td>{{ dossier.fee }} UAH</td>
            <td>{{ dossier.date_signed|date:"d.m.Y" }}</td>
            <td>{{ dossier.date_expired|date:"d.m.Y" }}</td>
            {% if dossier.status == 'open' %}
            <td>Відкрита</td>
            {% elif dossier.status == 'closed' %}
            <td>Закрита</td>
            {% else %}
            <td>Закрита(виграна)</td>
            {% endif %}
            {% if dossier.status == 'closed' or dossier.status == 'closed-won'  %}
            <td>{{ dossier.date_closed|date:"d.m.Y" }}</td>
            {% else %}
            <td>-------</td>
            {% endif %}
            {% if dossier.paid %}
            <td>Оплачено</td>
            {% else %}
            <td>Не оплачено</td>
            {% endif %}
            {% if request.user|has_group:"Секретар"%}
            <td>
                {% if not dossier.paid %}
                <a class="btn btn-outline-info" href="{% url 'dossier_j-update' pk=dossier.pk  %}">Редагувати</a>
                {% endif %}
                <a class="btn btn-outline-danger" href="{% url 'dossier_j-delete' pk=dossier.pk  %}">Видалити</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {% endif %}
        {% if request.user|has_group:"Секретар"%}
            <div class="container-fluid row align-items-center justify-content-center">
                <a style="margin: 1%;" class="btn  btn-block btn-outline-danger" href="{% url 'client_juridical-delete' pk=object.pk %}">Видалити клієнта</a></div>
         {% endif %}
{% endif %}
    </div>
<script>
        function goBack() {
            window.history.back();
        }
</script>
{% endblock %}
