{% extends "base_generic.html" %}
{% block title %}Нова послуга{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'services' %}">🢀Усі послуги</a>
{% endblock %}

{% block content %}
    <h1 class="row align-items-center justify-content-center">Нова послуга</h1>
<div class="row align-items-center justify-content-center">
<div class="shadow-lg p-4 mb-4 bg-white">
    <form method="POST" class="post-form">
        {% csrf_token %}
         <table>
         {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-outline-success btn-block">Зберегти</button>
    </form>
</div></div>
{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'docs/js/highlightRequired.js' %}"></script>
{% endblock %}