{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Створення нового запису{% endblock %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.13.10/jquery.timepicker.css">
    <link rel="stylesheet" href="{% static 'docs/css/app_css.css'%}">
{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
    <a class="navbar-brand" href="{% url 'jappointments' %}">🢀Усі юридичні записи</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endif %}
{% endblock %}

{% block content %}
    <h1>Запис юридичного клієнта</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-outline-success">Зберегти</button>
    </form>

{% endblock %}

{% block script %}
{% load static %}
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.13.10/jquery.timepicker.min.js"></script>
    <script src="{% static 'docs/js/app_ajax.js' %}"></script>
{% endblock %}