{% extends "base_generic.html" %}
{% block title %}Реєстрація адвоката{% endblock %}

{% block navbar %}
    <a class="navbar-brand" href="{% url 'lawyers' %}">🢀Усі адвокати</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}
{% block content %}
    <h1 class="row align-items-center justify-content-center">Реєстрація нового адвоката</h1>
<div class="row align-items-center justify-content-center">
<div class="shadow-lg p-4 mb-4 bg-white">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        {{ lphone.as_p }}
        <button type="submit" class="btn btn-outline-success">Зберегти</button>
    </form>
</div></div>
{% endblock %}