{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Create appointment{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
    <a class="navbar-brand" href="{% url 'jappointments' %}">Back to JAppointments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endif %}
{% endblock %}

{% block content %}
    <h1>New Juridical Appointment</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}