{% extends "base_generic.html" %}

{% block navbar %}
    <a class="navbar-brand" href="nappointments.html">Back to NAppointments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}

{% block content %}
    <h1>New Natural Appointment</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
<script>
    console.log("hey");
    $("#id_service").change(function () {
        var service = $(this).val();
        $.ajax({
            url: '{% url "update_lawyers" %}',
            data: {
                'service': service,
            },
            success: function (response) {
                var new_options = response;
                alert(new_options[0].name);  // works
                $('#id_lawyer').empty();
                $.each(new_options, function (key, value) {
                    $('#id_lawyer')
                        .append($('<option>', {value: key})
                            .text(value.name));
                });
            }
        })
    });
</script>
{% endblock %}
