<!DOCTYPE html>
<html lang="en">
<head>
    <title>NCustomer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="Login/images/scale.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>About Dossier</h2>
    <table class="table" style="width: max-content">
        <tbody>
        <tr>
            <th>Code</th>
            <td>DON345</td>
        </tr>
        <tr>
            <th>Issue</th>
            <td>texteextextextxextxextetx</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>open</td>
        </tr>
        <tr>
            <th>Date signed</th>
            <td>04.05.2020</td>
        </tr>
         <tr>
            <th>Date expired</th>
            <td>14.05.2020</td>
        </tr>
        <tr>
            <th>Date closed</th>
            <td>24.05.2020</td>
        </tr>
         <tr>
            <th>Fee</th>
            <td>$3884</td>
        </tr>
         <tr>
            <th>Paid</th>
            <td>yes</td>
        </tr>
         <tr>
            <th>Court</th>
            <td>textextextextext</td>
        </tr>
        <tr>
            <th>Client</th>
            <td>Mary Popins</td>
        </tr>
        <tr>
            <th>Lawyer</th>
            <td>John SMitn</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h2>Appointments</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Time</th>
            <th>Comment</th>
            <th>Dossier</th>
            <th>Lawyer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>3232324</td>
            <td>24.04.2020</td>
            <td>13:55</td>
            <td>Textextext</td>
            <td>DON676</td>
            <td>John Smith</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
