{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Dossier details{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
 <a class="navbar-brand" href="{% url 'jdossiers' %}">Back to JDossiers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endif %}
{% if request.user|has_group:"ClientsJ"%}
 <a class="navbar-brand" href="{% url 'client-detailed-view-j'  dossier.num_client_j.num_client_j  %}">Back to Profile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endif %}
{% endblock %}

{% block content %}
    <h2>About Dossier</h2>
    <table class="table" style="width: max-content">
        <tbody>
        <tr>
            <th>Code</th>
            <td>{{ dossier.code_dossier_j }}</td>
        </tr>
        <tr>
            <th>Issue</th>
            <td>{{ dossier.issue }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ dossier.status }}</td>
        </tr>
        <tr>
            <th>Date signed</th>
            <td>{{dossier.date_signed|date}}</td>
        </tr>
         <tr>
            <th>Date expired</th>
            <td>{{dossier.date_expired|date}}</td>
        </tr>
        {% if dossier.date_closed %}
        <tr>
            <th>Date closed</th>
            <td>{{dossier.date_closed|date}}</td>
        </tr>
        {% endif %}
         <tr>
            <th>Fee</th>
            <td>${{dossier.fee}}</td>
        </tr>
         <tr>
            <th>Paid</th>
            <td>{{dossier.paid}}</td>
        </tr>
        {% if dossier.court_adr %}
         <tr>
            <th>Court</th>
            <td>textextextextext</td>
        </tr>
        {% endif %}
        <tr>
            <th>Client</th>
            <td>
                <a href="{% url 'client-detailed-view-j'  dossier.num_client_j.num_client_j %}">
                    {{ dossier.num_client_j.getfullname }}
                </a>
            </td>
        </tr>
        {% if dossier.lawyer_code %}
        <tr>
            <th>Lawyer</th>
            {% if request.user|has_group:"Secretaries"%}
            <td>
                <a href="{% url 'lawyer-detailed-view'  dossier.lawyer_code.lawyer_code %}">
                    {{ dossier.lawyer_code.getfullname }}
                </a>
            </td>
            {% endif %}
             {% if request.user|has_group:"ClientsJ"%}
            <td>
                    {{ dossier.lawyer_code.getfullname }}
            </td>
            {% endif %}
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
    {% if appointments %}

<div class="container">
    <h2>Appointments</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Code</th>
            <th>Date</th>
            <th>Time</th>
            <th>Comment</th>
            <th>Lawyer</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments.all %}
        <tr>
            <td>{{ appointment.appoint_code_j }}</td>
            <td>{{appointment.app_date}}</td>
            <td>{{appointment.app_time}}</td>
            <td>{{appointment.comment}}</td>
            {% if request.user|has_group:"Secretaries"%}
            <td><a href="{% url 'lawyer-detailed-view'  appointment.lawyer_code.lawyer_code %}">
                    {{appointment.lawyer_code.getfullname}}
                </a></td>
            {% endif %}
            {% if request.user|has_group:"ClientsJ"%}
            <td>  {{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}