{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Досьє{% endblock %}
{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
 <a class="navbar-brand" href="{% url 'ndossiers' %}">🢀Усі фізичні досьє</a>
{% endif %}
{% if request.user|has_group:"ClientsN"%}
 <a class="navbar-brand" href="{% url 'client-detailed-view-n'  dossier.num_client_n.num_client_n %}">🢀Повернутись до профілю</a>
{% endif %}
<div class="nav-item ml-auto justify-content-end">
            <a class="btn btn-danger " href="{% url 'logout' %}">Вийти</a>
        </div>
{% endblock %}

{% block content %}
    <h2>Деталі досьє</h2>
    <table class="table" style="width: max-content">
        <tbody>
        <tr>
            <th>Код</th>
            <td>{{ dossier.code_dossier_n }}</td>
        </tr>
        <tr>
            <th>Суть справи</th>
            <td>{{ dossier.issue }}</td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{{ dossier.status }}</td>
        </tr>
        <tr>
            <th>Дата підписання</th>
            <td>{{dossier.date_signed|date:"d.m.Y"}}</td>
        </tr>
         <tr>
            <th>Дата спливу</th>
            <td>{{dossier.date_expired|date:"d.m.Y"}}</td>
        </tr>
        {% if dossier.date_closed %}
        <tr>
            <th>Дата закриття</th>
            <td>{{dossier.date_closed|date:"d.m.Y"}}</td>
        </tr>
        {% endif %}
         <tr>
            <th>Сума</th>
            <td>₴{{dossier.fee}}</td>
        </tr>
         <tr>
            <th>Оплачено</th>
             {% if dossier.paid is True %}
            <td>Оплачено</td>
            {% else %}
            <td>Не оплачено</td>
            {% endif %}
        </tr>
        {% if dossier.court_adr %}
         <tr>
            <th>Суд</th>
             <td>{{dossier.court_name}}, {{dossier.court_adr}}</td>
        </tr>
        <tr>
            <th>Дата засідання</th>
             <td>{{dossier.court_date|date:"d.m.Y"}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Клієнт</th>
            <td>
                <a href="{% url 'client-detailed-view-n'  dossier.num_client_n.num_client_n %}">
                    {{ dossier.num_client_n.getfullname }}
                </a>
            </td>
        </tr>
        {% if dossier.lawyer_code %}
        <tr>
            <th>Адвокат</th>
            {% if request.user|has_group:"Secretaries"%}
            <td>
                <a href="{% url 'lawyer-detailed-view'  dossier.lawyer_code.lawyer_code %}">
                    {{ dossier.lawyer_code.getfullname }}
                </a>
            </td>
            {% endif %}
             {% if request.user|has_group:"ClientsN"%}
            <td>
                    {{ dossier.lawyer_code.getfullname }}
            </td>
            {% endif %}
              {% if request.user|has_group:"Lawyers"%}
            <td>
                    {{ dossier.lawyer_code.getfullname }}
            </td>
            {% endif %}
        </tr>
        {% endif %}
        </tbody>
    </table>
     {% if request.user|has_group:"Secretaries"%}
                <div>
                    <a class="btn btn-outline-info" href="{% url 'dossier_n-update' pk=object.pk %}">Редагувати</a>
                    <a class="btn btn-outline-danger" href="{% url 'dossier_n-delete' pk=object.pk %}">Видалити</a>
                </div>
    {% endif %}
</div>
    {% if appointments %}

<div class="container">
    <h2>Записи</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Дата</th>
            <th>Час</th>
            <th>Комент</th>
            <th>Адвокат</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments.all %}
        <tr>
            <td>{{appointment.app_date|date:"d.m.Y"}}</td>
            <td>{{appointment.app_time|time:"H:i"}}</td>
            <td>{{appointment.comment}}</td>
            {% if request.user|has_group:"Secretaries"%}
            <td><a href="{% url 'lawyer-detailed-view'  appointment.lawyer_code.lawyer_code %}">
                    {{appointment.lawyer_code.getfullname}}
                </a></td>
            {% endif %}
            {% if request.user|has_group:"ClientsN"%}
            <td>  {{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
            {% if request.user|has_group:"Lawyers"%}
            <td>  {{appointment.lawyer_code.getfullname}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endif %}
{% endblock %}