{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Профіль адвоката{% endblock %}

{% block navbar %}
{% if request.user|has_group:"Секретар"%}
    <a class="navbar-brand" href="{% url 'lawyers' %}">🢀Усі адвокати</a>
{% endif %}
{% if request.user|has_group:"Адвокат"%}
    <h2 style="color: white">Мій кабінет</h2>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Профіль адвоката</h2>
            <h4 id="specialization">{{ lawyer.specialization }}</h4>
            <h6 id="la_code">{{ lawyer.lawyer_code }}</h6>
            <h6 id="name">{{ lawyer.first_name }} {{ lawyer.surname }} {{ lawyer.mid_name }}</h6>
            <h6 id="mail">{{ lawyer.mail_info}} </h6>
            <h5>Надає послуги:</h5>
            {% for service in lawyer.service.all %}
                <h6 id="service">
                    <a href=" {% url 'service-detailed-view' service.service_code %}">
                        {{ service.name_service }}
                    </a>
                </h6>
            {% endfor %}
            <h5>Робочі дні:</h5>
            {% for day in lawyer.work_days.all %}
                <h6 id="work_days">{{ day }}</h6>
            {% endfor %}
            <h5>Телефони:</h5>
               {% for phone in phones %}
            <div><a href="tel:+380{{phone.phone_num}}">+380{{phone.phone_num}}</a></div>
                {% endfor %}
        {% if dossier_j or dossier_n %}
             {% if request.user|has_group:"Секретар"%}
                <div>
                    <a class="btn btn-outline-info" href="{% url 'lawyer-update' pk=object.pk %}">Редагувати</a>
                    <a class="btn btn-outline-danger" href="{% url 'lawyer-delete' pk=object.pk %}">Видалити</a>
                </div>
            {% endif %}

            <h3>Досьє</h3>

            <ul class="nav nav-pills flex-column">
            {% for dossier in dossier_n %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dossier-detailed-n' dossier.code_dossier_n %}">{{ dossier.issue }}</a>
                </li>
            {% endfor %}
            {% for dossier in dossier_j %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dossier-detailed-j' dossier.code_dossier_j %}">{{ dossier.issue }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div class="col-sm-8">
            <h2>Всього закрито справ</h2>

            {% for obj in closed_dossiers_n %}
                  <p>Натуральних: {{obj.counted_dossiers}}</p>
            {% endfor %}
            {% for obj1 in closed_dossiers_j %}
                <p>Юридичних: {{obj1.counted_dossiers}}</p>
            {% endfor %}
            <p></p>
            <br>
            <h2 >Загальний дохід</h2>
            <h5>Загалом: <b id="income_total">0</b></h5>
            <h5 id="income_nom">Номінальний: {{ nominal_value }}</h5>
            <h5 id="income_bonus">Бонусний: {{ bonus_value }}</h5>
        </div>

    </div>

{% if upcoming_app_j or upcoming_app_n %}
    <div class="row">
        <div class="container">
            <br>
            <h2 class="text-center">Записи</h2>
            <h4>Майбутні</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Клієнт</th>
                    <th>Послуга</th>
                    <th>Дата</th>
                    <th>Час</th>
                    <th>Коментарій</th>
                    <th>Суть справи</th>
                </tr>
                </thead>
                <tbody>
                {% for appointment in upcoming_app_j %}
                <tr>
                    <td>{{appointment.num_client_j.getfullname }}</td>
                    <td>
                    {% for service in appointment.service.all %}
                    <a href="{% url 'service-detailed-view' service.service_code %}">
                        {{service.name_service }}
                    </a>;
                    {% endfor %}
                    </td>
                    <td>{{appointment.app_date|date:"d.m.Y"}}</td>
                    <td>{{appointment.app_time|time:"H:i"}}</td>
                    <td>{{appointment.comment}}</td>
                    <td>{{appointment.code_dossier_j.issue }}</td>
                </tr>
                {% endfor %}
                {% for appointment in upcoming_app_n %}
                <tr>
                    <td>{{appointment.num_client_n.getfullname }}</td>
                    <td>
                    {% for service in appointment.service.all %}
                    <a href=" {% url 'service-detailed-view' service.service_code %}">
                        {{ service.name_service }}
                    </a>;
                    {% endfor %}
                    </td>
                    <td>{{appointment.app_date|date:"d.m.Y"}}</td>
                    <td>{{appointment.app_time|time:"H:i"}}</td>
                    <td>{{appointment.comment}}</td>
                    <td>{{appointment.code_dossier_n.issue }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {% if appointments_j or appointments_n %}
    <div class="row">
        <div class="container">
            <h4>Минулі</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Клієнт</th>
                    <th>Послуга</th>
                    <th>Дата</th>
                    <th>Час</th>
                    <th>Коментарій</th>
                    <th>Суть справи</th>
                </tr>
                </thead>
                <tbody>
                {% for appointment in appointments_j %}
                <tr>
                    <td>{{appointment.num_client_j.getfullname }}</td>
                    <td>
                    {% for service in appointment.service.all %}
                    <a href=" {% url 'service-detailed-view' service.service_code %}">
                        {{ service.name_service }}
                    </a>;
                    {% endfor %}
                    </td>
                    <td>{{appointment.app_date|date:"d.m.Y"}}</td>
                    <td>{{appointment.app_time|time:"H:i"}}</td>
                    <td>{{appointment.comment}}</td>
                    <td>{{appointment.code_dossier_j.issue }}</td>
                </tr>
                {% endfor %}
                {% for appointment in appointments_n %}
                <tr>
                    <td>{{appointment.num_client_n.getfullname }}</td>
                    <td>
                    {% for service in appointment.service.all %}
                    <a href=" {% url 'service-detailed-view' service.service_code %}">
                        {{ service.name_service }}
                    </a>;
                    {% endfor %}
                    </td>
                    <td>{{appointment.app_date|date:"d.m.Y"}}</td>
                    <td>{{appointment.app_time|time:"H:i"}}</td>
                    <td>{{appointment.comment}}</td>
                    <td>{{appointment.code_dossier_n.issue }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>
    {% endif %}
{% endblock %}

{% block script %}
    {% load static %}
<script src="{% static 'docs/js/main.js' %}"></script>
{% endblock %}