{% extends "base_generic.html" %}
{% block navbar %}
    <a class="navbar-brand" href="lawyers.html">Back to Lawyers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h2>About Lawyer</h2>
            <h4 id="specialization">{{ lawyer.specialization }}</h4>

            <h6 id="la_code">{{ lawyer.lawyer_code }}</h6>
            <h6 id="name">{{ lawyer.first_name }} {{ lawyer.surname }} {{ lawyer.mid_name }}</h6>
            <h6 id="mail">{{ lawyer.mail_info}} </h6>
            <h5>Надає послуги:</h5>
            {% for service in lawyer.service.all %}
                <h6 id="service"><a href=" {% url 'service-detailed-view' service.service_code %}">{{ service.name_service }}</a></h6>
            {% endfor %}
            <h5>Робочі дні:</h5>
            {% for day in lawyer.work_days.all %}
                <h6 id="work_days">{{ day }}</h6>
            {% endfor %}
        {% if dossier_j or dossier_n %}
            <hr>

            <h3>Dossiers</h3>

            <ul class="nav nav-pills flex-column">
            {% for dossier in dossier_n %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ dossier.issue }}</a>
                </li>
            {% endfor %}
            {% for dossier in dossier_j %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ dossier.issue }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if appointments_j or appointments_n %}
            <hr>
            <h3>Appointments</h3>

            <ul class="nav nav-pills flex-column">
            {% for appointment in appointments_j %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{appointment}}</a>
                    <div>
                        {% for service in  appointment.service.all%}
                            {{ service.name_service }}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            {% for appointment in appointments_n %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{appointment}}</a>
                    <div>
                        {% for service in  appointment.service.all%}
                            {{ service.name_service }}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>


            <hr>
        {% endif %}
        </div>
        <div class="col-sm-8">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    <div>
        {% for phone in phones %}
            <div>Phone num: {{phone.phone_num}}</div>
        {% endfor %}
    </div>
    </div>
{% endblock %}