{% extends "base_generic.html" %}
{% block title %}NCustomers{% endblock %}
{% block navbar%}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lawyers' %}">Lawyers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'jcustomers' %}">JCustomers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ncustomers' %}">NCustomers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'jdossiers' %}">JDossiers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'ndossiers' %}">NDossiers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'jappointments' %}">JAppointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'nappointments' %}">NAppointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'stats' %}">Statistics</a>
        </li>
{%endblock%}

{% block content %}
<div class="container">
       <a class="btn btn-outline-info" href="{% url 'client_natural-create' %}">Register Natural Client</a>
</div>
{% endblock %}
