{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Service details{% endblock %}

{% block navbar %}
{% if request.user|has_group:"Secretaries"%}
 <a class="navbar-brand" href="{% url 'services' %}">Back to Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endif %}
{% endblock %}

{% block content %}
<div class="card">
    <div>Service code : {{ service.service_code }}</div>
    <div>Name service : {{ service.name_service }}</div>
    <div>Nominal value : {{ service.nominal_value }}</div>
    <div>Bonus value : {{ service.bonus_value }}</div>
</div>
{% if request.user|has_group:"Secretaries"%}
    <a class="btn btn-outline-info" href="{% url 'service-update' pk=object.pk %}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'service-delete' pk=object.pk %}">Delete</a>

    {% if lawyers %}
    <div class="container">
    <h5>Адвокати</h5>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Lawyer</th>
            <th>Specialization</th>
        </tr>
        </thead>
        <tbody>
        {% for lawyer in lawyers.all %}
        <tr>
            <td><a href="{% url 'lawyer-detailed-view'  lawyer.lawyer_code %}">
                    {{lawyer.getfullname}}
                </a></td>
            <td>{{ lawyer.specialization }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
{% endif %}
{% endblock %}
