{% extends "base_generic.html" %}
{% block title %}Зміна адвокатів{% endblock %}

{% block navbar %}
    <a class="navbar-brand container-fluid" href="{% url 'services' %}">🢀Усі послуги</a>
{% endblock %}

{% block content %}
    <h1 class="row align-items-center justify-content-center">Змінити адвокатів</h1>
    <div class="row align-items-center justify-content-center">
    <div class="shadow-lg p-4 mb-4 bg-white">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success btn-block">Зберегти</button>
    </form>
        </div></div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'docs/js/checkedMultiBox.js' %}"></script>
{% endblock %}
