{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Послуга{% endblock %}

{% block navbar %}
{% if request.user|has_group:"Адвокат"%}
 <a class="navbar-brand" href="#" onclick="goBack()">🢀Повернутись до кабінету</a>
{% endif %}
{% if request.user|has_group:"Секретар"%}
        <div class="nav-item mr-5">
            <a class="navbar-brand"  href="{% url 'services' %}">🢀Усі послуги</a>
        </div>
       <div class="nav-item mr-3">
            <a class="navbar-brand" href="{% url 'lawyers' %}">Адвокати</a>
        </div>
        <div class="nav-item mr-3">
            <a class="navbar-brand" href="{% url 'services' %}">Послуги</a>
        </div>
        <div class="nav-item dropdown mr-3">
            <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">
                Клієнти
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jcustomers' %}">Юридичні клієнти</a>
                <a class="nav-link dropdown-item" href="{% url 'ncustomers' %}">Фізичні клієнти</a>
            </div>
        </div>
        <div class="nav-item dropdown mr-3">
            <a class="navbar-brand dropdown-toggle" href="#"  data-toggle="dropdown">
                Досьє
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jdossiers' %}">Юридичні досьє</a>
                <a class="nav-link dropdown-item" href="{% url 'ndossiers' %}">Фізичні досьє</a>
            </div>
        </div>
        <div class="nav-item dropdown mr-3">
            <a class="navbar-brand dropdown-toggle" href="#"  data-toggle="dropdown">
                Записи
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jappointments' %}">Юридичні записи</a>
                <a class="nav-link dropdown-item" href="{% url 'nappointments' %}">Фізичні записи</a>
            </div>
        </div>
        <div class="nav-item mr-3">
            <a class="navbar-brand" href="{% url 'stats' %}">Статистика</a>
        </div>
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
<div style="margin-top: 3%" class="container-fluid margin-fix row align-items-center justify-content-center">
    <div class="card row align-items-center justify-content-center shadow-lg p-4 mb-4 bg-white" style="width: 50%;">
        <h5>Код послуги : {{ service.service_code }}</h5>
        <h6>Послуга : {{ service.name_service }}</h6>
        <h6>Номінальна вартіть : {{ service.nominal_value }}</h6>
        <h6>Бонусна вартість : {{ service.bonus_value }}</h6>
        {% for group in group.all %}
        <h6>Група : {{group.name_group}}</h6>
         {% endfor %}
        {% if request.user|has_group:"Секретар"%}
        <div class="container row align-items-center justify-content-center">
            <a style="margin: 1%;" class="btn btn-outline-info" href="{% url 'service-update' pk=object.pk %}">Редагувати</a>
            <a style="margin: 1%;" class="btn btn-outline-danger" href="{% url 'service-delete' pk=object.pk %}">Видалити</a>
            <a class="btn btn-outline-success" href="{% url 'add-service-lawyer'  object.pk %} ">Змінити адвокатів</a>
        </div>
       {% endif %}
    </div>
</div>
{% if request.user|has_group:"Секретар"%}
    {% if lawyers %}
    <div class="container-fluid ">
    <h2>Адвокати</h2>
    <table class="table table-striped table_border table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Адвокат</th>
            <th>Спеціалізація</th>
        </tr>
        </thead>
        <tbody>
        {% for lawyer in lawyers.all %}
        <tr>
            <td><a href="{% url 'lawyer-detailed-view'  lawyer.lawyer_code %}">
                    {{lawyer.getfullname}}
                </a></td>
            <td>{{ lawyer.specialization }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
 {% endif %}
    </div>
<script>
        function goBack() {
            window.history.back();
        }
</script>
{% endblock %}