{% extends "base_generic.html" %}

{% block navbar %}
    <div class="nav-item">
            <a class="nav-link" href="{% url 'lawyers' %}">Lawyers</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'jcustomers' %}">JCustomers</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'ncustomers' %}">NCustomers</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'jdossiers' %}">JDossiers</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'ndossiers' %}">NDossiers</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'jappointments' %}">JAppointments</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'nappointments' %}">NAppointments</a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="{% url 'stats' %}">Statistics</a>
        </div>
{% endblock %}

