{% extends "stat_generic.html" %}
{% block title %}Статистика{% endblock %}


{% block content %}
    <div class="container">
    <div class="col-md-12 col-sm-8">
            <h1 class="mb-3">Статистика Адвокатського Бюро</h1>

<!--{#        <p id="reload"><button onClick="window.location.reload();">За весь рік</button></p>#}-->
<!--{#            <div class="row">#}-->
<!--{##}-->
<!--{#                    <div class="container">#}-->
<!--{#                        <p><label for="date1">З</label>#}-->
<!--{#                        <input id="date1" name="date1" type="text" autocomplete="off">#}-->
<!--{#                        <p><label for="date2">По</label>#}-->
<!--{#                        <input id="date2" name="date2" type="text" autocomplete="off">#}-->
<!--{#                    </div>#}-->
<!--{##}-->
<!--{#            </div>#}-->
    <div class="row">
        <div class="col-md-6 text_styles">
            <div><b>Відкрито справ: </b><div id="open_dossier" class="inline_div">{{ counter_dossiers }}</div></div>
            <div class="tabulated secondary_text"><b>Юридичних: </b><div id="open_dossier_j" class="inline_div">{{ open_dossiers_j}}</div></div>
            <div class="tabulated secondary_text"><b>Фізичних: </b><div id="open_dossier_n" class="inline_div">{{ open_dossiers_n}}</div></div>

            <div><b>Закрито справ: </b><div id="closed_dossier" class="inline_div">{{ counter_dossiers }}</div></div>
            <div class="tabulated secondary_text"><b>З них виграно: </b><div id="won_dossiers" class="inline_div">{{ won_dossiers }}</div></div>
            <div><b>Загальна сума :</b> <div id="total_value" class="inline_div">{{ value }} грн</div></div>
        </div>
        <div class="col-md-4 offset-md-2">
            <div id="reload" class="align-center">
                <button onClick="window.location.reload();">За весь час</button>
            </div>
            <div class="container align_right">

                    <p><label for="date1">З </label>
                    <input id="date1" name="date1" type="text" autocomplete="off">
                    <p><label for="date2">По</label>
                    <input id="date2" name="date2" type="text" autocomplete="off">
                </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-12">
            <h2 class="mb-5" id="given_services">Надані послуги</h2>

            <table class="table table-hover table-striped table_border" id="services">
                <thead class="thead-dark">
                    <tr>
                        <th>Назва</th>
                        <th>Номінальна вартість</th>
                        <th>Бонусна вартість</th>
                        <th>Кількість записів</th>
                        <th>Загальна сума</th>
                    </tr>

                </thead>
                <tbody id="services_body">
                {% for service in service_count %}
                    <tr class="border_top">
                        <th rowspan="2" class="vertical_align">
                            <a href="{% url 'service-detailed-view' service.service_code %}">{{ service.name_service }}</a></th>
                        <th>{{ service.nominal_value }}</th>
                        <th>{{service.bonus_value}}</th>
                        <th>{{service.count}}</th>
                        <th>{{service.sum}} грн</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="lnr-text-align-right">За весь час</th>
                        <th>{{service.count}}</th>
                        <th>{{service.sum}} грн</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12">
            <h2 class="mb-5" id="lawyers_stats">Статистика Адвокатів</h2>

            <table class="table table-hover table-striped table_border" id="lawyers">
                <thead class="thead-dark">
                    <tr>
                        <th>ПІБ</th>
                        <th>Код адвоката</th>
                        <th>Спеціалізація</th>
                        <th>Кількість записів</th>
                        <th>Загальна сума</th>
                    </tr>
                </thead>
                <tbody id="lawyers_body">
                {% for lawyer in lawyer_counter %}
                    <tr>
                        <th><a href="{% url 'lawyer-detailed-view' lawyer.lawyer_code %}">
                            {{ lawyer.first_name }} {{ lawyer.mid_name }} {{ lawyer.surname }}</a></th>
                        <th>{{ lawyer.lawyer_code }}</th>
                        <th>{{ lawyer.spec }}</th>
                        <th>{{ lawyer.count}}</th>
                        <th>;;;</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    </div>


</div>
{% endblock %}
{% block script %}
        {% load static %}
        <script src="{% static 'docs/js/statistics.js' %}"></script>
{% endblock %}