{% extends "stat_generic.html" %}
{% block title %}Статистика{% endblock %}


{% block content %}
{#    <p id="date"></p>#}

    <div class="container-fluid" id="container-stat">
    <div class="col-md-12 col-sm-8">
            <h1 class="statH text-center" style="margin-bottom: 5%">Статистика Адвокатського Бюро</h1>
        <div class="container containerToPrint">
    <div class="row">
        <div class="col-md-6 text_styles">
            <div><b>Відкрито справ: </b><div id="open_dossier" class="inline_div">{{ counter_dossiers_open }}</div></div>
            <div class="tabulated secondary_text"><b>Юридичних: </b><div id="open_dossier_j" class="inline_div">{{ open_dossiers_j}}</div></div>
            <div class="tabulated secondary_text"><b>Фізичних: </b><div id="open_dossier_n" class="inline_div">{{ open_dossiers_n}}</div></div>

            <div><b>Закрито справ: </b><div id="closed_dossier" class="inline_div">{{ counter_dossiers_closed }}</div></div>
            <div class="tabulated secondary_text"><b>Виграно: </b><div id="won_dossiers" class="inline_div">{{ won_dossiers }}</div></div>
            <div><b>Загальна сума :</b> <div id="total_value" class="inline_div">{{ value }} грн</div></div>
        </div>
        <div style="margin-top: 2%;" class="col-md-4 offset-md-2" id="dates">
            <div class="container align_right">

                    <p class="d-print-none"><label for="date1">З </label>
                    <input class="d-print-none" id="date1" name="date1" type="text" autocomplete="off" size="15">
                    <p class="d-print-none"><label for="date2">По</label>
                    <input class="d-print-none" id="date2" name="date2" type="text" autocomplete="off" size="15">
                </div>
            <div id="reload" class="float-right">
                <button onClick="window.location.reload();" class="d-print-none">За весь час</button>
            </div>
            <div style="margin-right: 10%" class="d-print-none float-right">
                <button class="fa fa-print" onClick="window.print()"></button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row tbl">
        <div class="col-12">
            <h2 class="mb-5" id="given_services">Надані послуги</h2>
            <div class="container-fluid" id="services_container">
            <table class="table table-hover table_border" id="services">
                <thead class="thead-dark">
                    <tr>
                        <th>Назва</th>
                        <th>Номінальна вартість</th>
                        <th>Бонусна вартість</th>
                        <th>Кількість записів</th>
                        <th>Загальна сума</th>
                    </tr>

                </thead>
                <tbody id="services_body">
                {% for service in service_count %}
                    <tr class="border_top">
                        <td rowspan="2" class="vertical_align">
                            <a href="{% url 'service-detailed-view' service.service_code %}">{{ service.name_service }}</a></td>
                        <td>{{ service.nominal_value }}</td>
                        <td>{{service.bonus_value}}</td>
                        <td>{{service.count}}</td>
                        <td>{{service.sum}} грн</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>За весь час</td>
                        <td>{{service.count}}</td>
                        <td>{{service.sum}} грн</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>

    <hr>

    <div class="row tbl">
        <div class="col-12">
            <h2 class="mb-5" id="lawyers_stats">Статистика Адвокатів</h2>
            <div class="container-fluid" id="lawyer_container">
            <table class="table table-hover table_border" id="lawyers">
                <thead class="thead-dark">
                    <tr>
                        <th>ПІБ</th>
                        <th>Код адвоката</th>
                        <th>Спеціалізація</th>
                        <th>Кількість записів</th>
                        <th>Загальна сума</th>
                    </tr>
                </thead>
                <tbody id="lawyers_body">
                {% for lawyer in lawyer_counter %}
                    <tr>
                        <td><a href="{% url 'lawyer-detailed-view' lawyer.lawyer_code %}">
                            {{ lawyer.first_name }} {{ lawyer.mid_name }} {{ lawyer.surname }}</a></td>
                        <td>{{ lawyer.lawyer_code }}</td>
                        <td>{{ lawyer.spec }}</td>
                        <td>{{ lawyer.count}}</td>
                        <td>{{ lawyer.sum }}</td>
                    </tr>
                    {% for service in lawyer.services %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ service.name }}</td>
                        <td>{{ service.count }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <hr>

</div>
</div>
    </div>
{#    <div id="print-foot"></div>#}
{% endblock %}
{% block script %}
        {% load static %}
        <script src="{% static 'docs/js/statistics1..js' %}"></script>
{% endblock %}