{% extends "base_generic.html" %}

{% block navbar %}
    <div class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'lawyers' %}">Адвокати</a>
        </div>
        <div class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'services' %}">Послуги</a>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link font-weight-bold dropdown-toggle" href="#" data-toggle="dropdown">
                Клієнти
            </a>
            <div class="dropdown-menu">
                <a class="nav-link font-weight-bold dropdown-item" href="{% url 'jcustomers' %}">Юридичні клієнти</a>
                <a class="nav-link font-weight-bold dropdown-item" href="{% url 'ncustomers' %}">Фізичні клієнти</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link font-weight-bold dropdown-toggle" href="#"  data-toggle="dropdown">
                Досьє
            </a>
            <div class="dropdown-menu">
                <a class="nav-link font-weight-bold dropdown-item" href="{% url 'jdossiers' %}">Юридичні досьє</a>
                <a class="nav-link font-weight-bold dropdown-item" href="{% url 'ndossiers' %}">Фізичні досьє</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link font-weight-bold dropdown-toggle" href="#"  data-toggle="dropdown">
                Записи
            </a>
            <div class="dropdown-menu">
                <a class="nav-link font-weight-bold dropdown-item" href="{% url 'jappointments' %}">Юридичні записи</a>
                <a class="nav-link font-weight-bold dropdown-item" href="{% url 'nappointments' %}">Фізичні записи</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a  class="nav-link font-weight-bold" href="{% url 'register' %}"> Додати користувача</a>
        </div>
        <div class="nav-item">
            <a class="nav-link font-weight-bold" href="{% url 'stats' %}">Статистика</a>
        </div>
{% endblock %}

