{% extends "base_generic.html" %}
{% load user_tags %}

{% block navbar %}
       {% if request.user|has_group:"Секретар"%}
        <div class="nav-item mr-3">
            <a class="navbar-brand" href="{% url 'lawyers' %}">Адвокати</a>
        </div>
        <div class="nav-item mr-3">
            <a class="navbar-brand" href="{% url 'services' %}">Послуги</a>
        </div>
        <div class="nav-item dropdown mr-3">
            <a class="navbar-brand dropdown-toggle" href="#" data-toggle="dropdown">
                Клієнти
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jcustomers' %}">Юридичні клієнти</a>
                <a class="nav-link dropdown-item" href="{% url 'ncustomers' %}">Фізичні клієнти</a>
            </div>
        </div>
        <div class="nav-item dropdown mr-3">
            <a class="navbar-brand dropdown-toggle" href="#"  data-toggle="dropdown">
                Досьє
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jdossiers' %}">Юридичні досьє</a>
                <a class="nav-link dropdown-item" href="{% url 'ndossiers' %}">Фізичні досьє</a>
            </div>
        </div>
        <div class="nav-item dropdown mr-3">
            <a class="navbar-brand dropdown-toggle" href="#"  data-toggle="dropdown">
                Записи
            </a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'jappointments' %}">Юридичні записи</a>
                <a class="nav-link dropdown-item" href="{% url 'nappointments' %}">Фізичні записи</a>
            </div>
        </div>
<!--        <div class="nav-item mr-3">-->
<!--            <a  class="navbar-brand" href="{% url 'register' %}"> Додати користувача</a>-->
<!--        </div>-->
        <div class="nav-item mr-3">
            <a class="navbar-brand" href="{% url 'stats' %}">Статистика</a>
        </div>
         {% endif %}
{% endblock %}

