{% extends "base_generic.html" %}

{% block title %}Test title{% endblock %}

{% block navbar%}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lawyers' %}">Lawyers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="jcustomers.html">JCustomers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ncustomers.html">NCustomers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="jdossiers.html">JDossiers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ndossiers.html">NDossiers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="jappointments.html">JAppointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="nappointments.html">NAppointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="statistics.html">Statistics</a>
        </li>
{%endblock%}

{% block content %}
    <h1>Welcome to DataBase</h1>
{% endblock %}