{% extends "base_generic.html" %}
{% block title %}Профіль адвоката{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/css/bootstrap-select.min.css" type="text/css">
{% endblock %}
{% block navbar %}
    {% load user_tags %}
 {% if request.user|has_group:"Секретар"%}
    <a class="navbar-brand container-fluid" href="{% url 'lawyers' %}">🢀Усі адвокати</a>
{% endif %}
 {% if request.user|has_group:"Адвокат"%}
    <a class="navbar-brand container-fluid" href="#" onclick="goBack()">🢀Повернутись до профілю</a>
{% endif %}
{% endblock %}

{% block content %}
 {% if request.user|has_group:"Секретар"%}
    <h1 class="row align-items-center justify-content-center">Редагувати профіль адвоката</h1>
{% endif %}
{% if request.user|has_group:"Адвокат"%}
    <h1 class="row align-items-center justify-content-center">Редагувати мій профіль</h1>
{% endif %}
<div class="row align-items-center justify-content-center">
<div class="shadow-lg p-4 mb-4 bg-white">
    <form method="POST" class="post-form">
        {% csrf_token %}
        <table>
         {% include "table_form.html" with form=form %}
         {% include "phone_table_form.html" with Formset=lphone %}
        </table>
        <button type="submit" class="btn btn-outline-success btn-block">Зберегти зміни</button>
    </form>
</div></div>

{% endblock %}

{% block script %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script type="text/javascript" src="{% static 'docs/js/lawyerFormSelectMultiple.js' %}"></script>
    <script type="text/javascript" src="{% static 'docs/js/highlightRequired.js' %}"></script>
{% endblock %}