{% extends "base_generic.html" %}
{% block title %}Досьє{% endblock %}

{% block navbar %}
    <a class="navbar-brand container-fluid" href="{% url 'jdossiers' %}">🢀Усі юридичні досьє</a>
{% endblock %}

{% block content %}

    <h1 class="row align-items-center justify-content-center">Редагувати досьє</h1>
<div class="row align-items-center justify-content-center">
<div class="shadow-lg p-4 mb-4 bg-white">
    <form method="POST" class="post-form">
        {% csrf_token %}
            <table>
             {% include "table_form.html" with form=form %}
        </table>
        <button type="submit" class="btn btn-outline-success btn-block">Зберегти зміни</button>
    </form>
</div></div>
{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'docs/js/dossier.js' %}"></script>
    <script>
        $(document).ready(function () {
            var signedOn = '{{ opened|safe }}'.split('-');
            var signedOnDate = new Date(signedOn[0],signedOn[1],signedOn[2])
            try {
                var courtDate = ('#id_court_date').datepicker('getDate')
                if (signedOnDate < courtDate)
                    $('#id_date_closed').datepicker('option', 'minDate', courtDate)
            }
            catch (e) {

            }
            $('#id_date_closed').datepicker('option','minDate', signedOnDate)
            $('#id_court_date').datepicker('option','minDate', signedOnDate)
        })
    </script>
{% endblock %}
