{% extends "index.html" %}
{% block content %}
{# Assumes you setup the password_reset view in your URLconf #}
<!--<p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Авторизація
				</span>
            <form method="post" action="{% url 'login' %}" class="login100-form validate-form p-b-33 p-t-5">
                    {% csrf_token %}
                 <div class="wrap-input100">
                     <div class="input100">{{ form.username }}</div>
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                </div>
                 <div class="wrap-input100">
                     <div class="input100">{{ form.password }}</div>
                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                </div>
                <div class="container-login100-form-btn m-t-32">
                    <input class="login100-form-btn" name="btn-submit" id="btn-submit" type="submit" value="Увійти" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% if form.errors %}
                        <div style="color: red; font-size: 21px"class="container mt-3"><div>Ваш пароль не збігається з ім'ям користувача.</div><div> Будь ласка, введіть ваші дані знову.</div></div>
                    {% endif %}
                    {% if next %}
                          {% if user.is_authenticated %}
                              <div style="color: red; font-size: 21px"class="container mt-3"><div>Ваш акаунт не має доступу до перегляду цієї сторінки.</div><div>Щоб переглянути, будь ласка, увійдіть з відповідного акаунту.</div></div>
                          {% else %}
                              <div style="color: red; font-size: 21px"class="container mt-3"><div>Будь ласка, увійдіть у свій акаунт, щоб переглянути цю сторінку.</div></div>
                          {% endif %}
                    {% endif %}
                </div>
              </form>
        </div>
    </div>
</div>

{% endblock %}